# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
# Explicitly specify secure versions to avoid vulnerabilities
pip
setuptools>=78.1.1
django>=5.0.12
gunicorn>=23.0.0
whitenoise>=6.11.0
python-decouple>=3.8
dj-database-url>=3.0.1
tensorflow>=2.20.0
Pillow>=11.3.0
requests>=2.32.5
numpy>=2.0.2